// 標題style
.h2{
    font-size: 48px;
    line-height: 72px;
    font-weight: 700;
    color: $danger;
    padding-top: 80px;
}  

// font-size
.fs-1 {
    font-size: $h1-font-size; // 64px
}
.fs-2 {
    font-size: $h2-font-size; // 48px
}
.fs-3 {
    font-size: $h3-font-size; // 36px
}
.fs-4 {
    font-size: $h4-font-size; // 24px
}
.fs-5 {
    font-size: $h5-font-size; // 20px
}
.fs-6 {
    font-size: $h6-font-size; // 16px
}

// text color
.text-primary{
    color: $primary;
}
.text-white{
    color: $white;
}
.text-danger{
    color: $danger;
}
.text-light{
    color: $light;
}

// flex
.d-flex{
    display: flex;
}
.flex-column{
    flex-direction: column;
}
.justify-content-center{
    justify-content: center;
}
.justify-content-between{
    justify-content: space-between;
}
.align-items-center{
    align-items: center;
}
.align-items-end{
    align-items: end;
}
.flex-wrap{
    flex-wrap: wrap;
}

// hover
.link-hover:hover{
    opacity: 0.6;
}

// bg-color
.bg-primary{
    background: $primary;
}
.bg-secondary{
    background: $secondary;
}
.bg-danger{
    background: $danger;
}
.bg-white{
    background: $white;
}

// font-weight
.fw-4{
    font-weight: 400; // Regular
}
.fw-5{
    font-weight: 500; // Medium
}
.fw-7{
    font-weight: 700; // Bold
}
.fw-7-Italic{
    font-weight: 700 Italic; // Bold Italic
}

// font-style
.fst-italic{
    font-style: italic;
}

// line-height
.lh-21{
    line-height: 21px;
}
.lh-30{
    line-height: 30px;
}
.lh-36{
    line-height: 36px;
}
.lh-54{
    line-height: 54px;
}
.lh-72{
    line-height: 72px;
}
.lh-96{
    line-height: 96px;
}

// height 100%
.h-100{
    height: 100%;
}

// text-center
.text-center{
    text-align: center;
}

// gap
.gap-24{
    gap: 24px;
}

// 圖片置中
.margin-auto{
    margin: 0 auto;
}

// margin
.mb-2{
    margin-bottom: $spacer-2; // 8px
}
.mb-3{
    margin-bottom: $spacer-3; // 16px
}
.mb-4{
    margin-bottom: $spacer-4; // 24px
}
.mb-5{
    margin-bottom: $spacer-5; // 48px
}
.mb-6{
    margin-bottom: $spacer-6; // 80px
}
.mb-7{
    margin-bottom: $spacer-7; // 32px
}
.mr-5{
    margin-right: $spacer-5; //48 px
}
.mr-7{
    margin-right: $spacer-7; // 32px
}

// padding
.pt-5{
    padding-top: $spacer-5; // 48px
}
.pt-7{
    padding-top: $spacer-7; // 32px
}

.pb-6{
    padding-bottom: $spacer-6; // 80px
}
.pb-7{
    padding-bottom: $spacer-7; //32px
}