@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

img {
  max-width: 100%;
  height: auto;
  display: block; }

a {
  display: block;
  text-decoration: none; }

body {
  font-family: "Roboto", "Noto Sans TC", sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 16px;
  line-height: 1.5; }

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding-left: 12px;
  padding-right: 12px; }
  @media (max-width: 768px) {
    .container {
      max-width: 720px; } }
  @media (max-width: 375px) {
    .container {
      max-width: 373px; } }

.h2 {
  font-size: 48px;
  line-height: 72px;
  font-weight: 700;
  color: #650300;
  padding-top: 80px; }

.fs-1 {
  font-size: 64px; }

.fs-2 {
  font-size: 48px; }

.fs-3 {
  font-size: 36px; }

.fs-4 {
  font-size: 24px; }

.fs-5 {
  font-size: 20px; }

.fs-6 {
  font-size: 16px; }

.text-primary {
  color: #AA0601; }

.text-white {
  color: #FFFFFF; }

.text-danger {
  color: #650300; }

.text-light {
  color: #707070; }

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.justify-content-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.align-items-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end; }

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.link-hover:hover {
  opacity: 0.6; }

.bg-primary {
  background: #AA0601; }

.bg-secondary {
  background: #FBF2F2; }

.bg-danger {
  background: #650300; }

.bg-white {
  background: #FFFFFF; }

.fw-4 {
  font-weight: 400; }

.fw-5 {
  font-weight: 500; }

.fw-7 {
  font-weight: 700; }

.fw-7-Italic {
  font-weight: 700 Italic; }

.fst-italic {
  font-style: italic; }

.lh-21 {
  line-height: 21px; }

.lh-30 {
  line-height: 30px; }

.lh-36 {
  line-height: 36px; }

.lh-54 {
  line-height: 54px; }

.lh-72 {
  line-height: 72px; }

.lh-96 {
  line-height: 96px; }

.h-100 {
  height: 100%; }

.text-center {
  text-align: center; }

.gap-24 {
  gap: 24px; }

.margin-auto {
  margin: 0 auto; }

.mb-2 {
  margin-bottom: 8px; }

.mb-3 {
  margin-bottom: 16px; }

.mb-4 {
  margin-bottom: 24px; }

.mb-5 {
  margin-bottom: 48px; }

.mb-6 {
  margin-bottom: 80px; }

.mb-7 {
  margin-bottom: 32px; }

.mr-5 {
  margin-right: 48px; }

.mr-7 {
  margin-right: 32px; }

.pt-5 {
  padding-top: 48px; }

.pt-7 {
  padding-top: 32px; }

.pb-6 {
  padding-bottom: 80px; }

.pb-7 {
  padding-bottom: 32px; }

@media (max-width: 375px) {
  .headerBar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; } }

.logo {
  height: 48.57px;
  width: 80px;
  background: url("../images/logo-white.png") no-repeat;
  background-position: center;
  background-size: cover; }
  @media (max-width: 375px) {
    .logo {
      width: 80px;
      height: 48.57px;
      margin: 16px auto; } }

@media (max-width: 375px) {
  .nav {
    width: 100%; } }

@media (max-width: 375px) {
  .nav-manu li {
    width: 50%;
    border: 1px solid #FFFFFF; } }

.nav-manu li a {
  padding: 25px 15px; }
  @media (max-width: 375px) {
    .nav-manu li a {
      text-align: center;
      font-size: 16px;
      line-height: 24px;
      padding: 12px 0; } }

.nav-manu li:last-child a {
  padding-right: 0; }

@media (max-width: 375px) {
  .footer {
    padding-bottom: 24px; } }

.footer-info {
  border-bottom: 1px solid #FFFFFF; }

.footer-info-nav-menu a {
  padding: 0 24px; }

.footer-info-nav-menu li:first-child a {
  padding-left: 0; }

@media (max-width: 375px) {
  .footer-info-nav-icon a {
    margin-right: 8px; } }

.footer-info-nav-icon img {
  height: 48px;
  width: 48px; }
  @media (max-width: 375px) {
    .footer-info-nav-icon img {
      height: 24px;
      width: 24px; } }

@media (max-width: 375px) {
  .footer-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; } }

@media (max-width: 375px) {
  .footer-info-nav-menu {
    display: none; } }

@media (max-width: 375px) {
  .footer-info-contact a {
    font-size: 16px;
    line-height: 24px; } }

.footer-info-contact span {
  font-size: 48px;
  margin-right: 16px; }
  @media (max-width: 375px) {
    .footer-info-contact span {
      font-size: 24px;
      margin-right: 8px; } }

@media (max-width: 375px) {
  .footer-right {
    display: block; } }

@media (max-width: 375px) {
  .footer-right p {
    padding-bottom: 8px; } }

.footer-right a {
  font-size: 14px; }
  @media (max-width: 375px) {
    .footer-right a {
      font-size: 16px;
      line-height: 24px; } }

@media (max-width: 375px) {
  .footer-right ul {
    display: block;
    font-size: 16px;
    line-height: 24px; } }

@media (max-width: 375px) {
  .footer-right ul li:first-child {
    margin-bottom: 8px; } }

@media (max-width: 375px) {
  .h2 {
    font-size: 24px;
    line-height: 36px;
    padding-top: 40px; } }

.banner {
  height: 787px;
  background: url("../images/home-header.png") no-repeat;
  background-position: center;
  background-size: cover; }
  @media (max-width: 375px) {
    .banner p {
      font-size: 16px;
      line-height: 24px; } }
  .banner h1 {
    margin-bottom: 10px; }
    @media (max-width: 375px) {
      .banner h1 {
        font-size: 24px;
        line-height: 36px; } }
  @media (max-width: 768px) {
    .banner {
      background: url("../images/home-header-sm.png") no-repeat; } }

.banner-btn {
  padding: 6px 12px 6px 12px; }

.banner-btn:hover {
  color: #AA0601;
  background: #FFFFFF; }

@media (max-width: 375px) {
  .main {
    padding-bottom: 40px; } }

.main h2 {
  margin-bottom: 36.5px; }
  @media (max-width: 375px) {
    .main h2 {
      margin-bottom: 32.08px; } }

.main-card-menu li {
  width: calc((100% - 72px) / 4); }
  @media (max-width: 768px) {
    .main-card-menu li {
      width: calc((100% - 24px) / 2); } }
  @media (max-width: 375px) {
    .main-card-menu li {
      width: 100%; } }

@media (max-width: 375px) {
  .classic {
    padding-bottom: 40px; } }

@media (max-width: 375px) {
  .classic h2 {
    margin-bottom: 24px; } }

.classic-card-menu li {
  width: calc((100% - 48px) / 3); }
  @media (max-width: 768px) {
    .classic-card-menu li {
      width: 50%; } }
  @media (max-width: 768px) {
    .classic-card-menu li {
      width: 100%; } }

.customer-card-menu-item-date {
  font-size: 14px;
  line-height: 21px; }

.design {
  background: url("../images/index-bg.png") no-repeat;
  background-position: center;
  background-size: cover; }
  @media (max-width: 768px) {
    .design {
      background: url("../images/index-bg-md.png") no-repeat; } }
  @media (max-width: 375px) {
    .design {
      background: url("../images/index-bg-sm.png") no-repeat;
      padding-bottom: 40px; } }
  @media (max-width: 375px) {
    .design h2 {
      margin-bottom: 24px; } }

.design-card-menu li {
  width: 50%; }
  @media (max-width: 768px) {
    .design-card-menu li {
      width: 100%; } }

@media (max-width: 375px) {
  .design-card-menu-double {
    content: url("../images/home-section4-1-sm.png");
    -o-object-fit: cover;
       object-fit: cover; } }

@media (max-width: 375px) {
  .design-card-menu-younth {
    content: url("../images/home-section4-2-sm.png");
    -o-object-fit: cover;
       object-fit: cover; } }

@media (max-width: 375px) {
  .customer {
    padding-bottom: 40px; } }

@media (max-width: 375px) {
  .customer h2 {
    margin-bottom: 24px; } }

.customer-card-menu li {
  -webkit-box-shadow: 0px 2px 6px #00000029;
          box-shadow: 0px 2px 6px #00000029;
  border-radius: 4px;
  width: calc((100% - 72px) / 4); }
  @media (max-width: 768px) {
    .customer-card-menu li {
      width: calc((100% - 24px) / 2); } }
  @media (max-width: 375px) {
    .customer-card-menu li {
      width: 100%; } }

.customer-card-menu-item {
  padding: 16px;
  height: 205px; }

@media (max-width: 375px) {
  .contact {
    padding-bottom: 40px; } }

.contact-form {
  max-width: 636px;
  margin: 0 auto; }
  .contact-form label {
    display: block; }
  .contact-form input {
    display: block;
    width: 100%;
    padding: 6px 12px;
    border: 1px solid #000000; }
  .contact-form textarea {
    display: block;
    width: 100%;
    height: 136px;
    padding: 6px 12px;
    border: 1px solid #000000; }

@media (max-width: 375px) {
  .contact h2 {
    margin-bottom: 24px; } }

.contact-form .contact-check-box {
  height: 24px;
  width: 24px;
  margin-right: 4px; }

.contact-btn {
  display: block;
  margin: 0 auto;
  border: none;
  padding: 16px 176px 16px 176px;
  cursor: pointer; }
  @media (max-width: 375px) {
    .contact-btn {
      width: 100%;
      padding: 16px 0; } }

.optical-top-btn li {
  width: calc(100% / 3);
  text-align: center; }

.optical-top-btn a {
  padding: 24px 0;
  display: block;
  font-size: 32px;
  color: #000000;
  font-weight: 500;
  border: 1px solid #DCDCDC;
  border-bottom: 8px solid transparent; }
  .optical-top-btn a:hover {
    border-bottom: 8px solid #AA0601; }
  @media (max-width: 768px) {
    .optical-top-btn a {
      padding: 16px 0; } }
  @media (max-width: 375px) {
    .optical-top-btn a {
      font-size: 16px; } }

.optical-banner-start {
  background: url("../images/product-header-1.png") no-repeat center/cover;
  width: 50%;
  height: 296px; }
  @media (max-width: 768px) {
    .optical-banner-start {
      background: url("../images/product-header-sm-1.png") no-repeat center/cover; } }
  @media (max-width: 375px) {
    .optical-banner-start {
      height: 136px; } }

.optical-banner-end {
  background: url("../images/product-header-2.png") no-repeat center/cover;
  width: 50%;
  height: 296px; }
  @media (max-width: 768px) {
    .optical-banner-end {
      background: url("../images/product-header-sm-2.png") no-repeat center/cover; } }
  @media (max-width: 375px) {
    .optical-banner-end {
      height: 136px; } }

.optical-glasses {
  padding: 80px 0; }
  .optical-glasses h1 {
    font-size: 42px;
    font-weight: 500; }
    @media (max-width: 375px) {
      .optical-glasses h1 {
        font-size: 24px; } }
  .optical-glasses h2 {
    font-size: 32px; }
    @media (max-width: 375px) {
      .optical-glasses h2 {
        font-size: 24px; } }

.optical-card h3 {
  font-size: 24px;
  color: #000000; }

.optical-card h4 {
  font-size: 24px;
  font-weight: 500;
  color: #AA0601; }

.optical-card-color-5F {
  height: 24px;
  width: 24px;
  border-radius: 4px;
  background-color: #5F3E2D;
  margin-right: 8px; }

.optical-card-color-B7 {
  height: 24px;
  width: 24px;
  border-radius: 4px;
  background-color: #B75929; }

.optical-menu {
  gap: 24px; }

.optical-list {
  width: calc((100% - 72px) / 4); }
  @media (max-width: 768px) {
    .optical-list {
      width: calc((100% - 24px) / 2); } }
  @media (max-width: 375px) {
    .optical-list {
      width: 100%; } }

.optical-pagination-menu a {
  color: #555555;
  font-size: 18px;
  padding: 12px 16px;
  border: 1px solid #555555; }
  .optical-pagination-menu a:hover {
    color: #FFFFFF;
    background-color: #000000; }
  @media (max-width: 375px) {
    .optical-pagination-menu a {
      font-size: 16px;
      padding: 12px; } }

.optical-pagination-menu li:first-child a {
  font-size: 19px; }
  .optical-pagination-menu li:first-child a:hover {
    color: #555555;
    background-color: #F2F2F2; }
  @media (max-width: 375px) {
    .optical-pagination-menu li:first-child a {
      font-size: 16px;
      padding: 12px; } }

.optical-pagination-menu li:last-child a {
  font-size: 19px; }
  .optical-pagination-menu li:last-child a:hover {
    color: #555555;
    background-color: #F2F2F2; }
  @media (max-width: 375px) {
    .optical-pagination-menu li:last-child a {
      font-size: 16px;
      padding: 12px; } }

/*# sourceMappingURL=all.css.map */
